name: Deploy to EC2

on:
  push:
    branches:
      - deploy

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Build Web
        run: |
          cd datenow
          chmod +x mvnw
          ./mvnw clean package -DskipTests

      - name: Build Mail
        run: |
          cd mail
          chmod +x gradlew
          ./gradlew clean build -x test

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Web Image
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t aronmindev/datenow-web:latest \
            --push ./datenow

      - name: Build and Push Mail Image
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t aronmindev/datenow-mail:latest \
            --push ./mail

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu
            docker-compose pull
            docker-compose up -d
